*{
    padding: 0px;
    margin: 0px;
}
.partone{
    background-image: url("Assetes/ruijia-wang-h9gXt0JmVn0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 800px;
    width: 100%;
    background-position: bottom;
    
    
}
.partone .nav-list .headings{
  height: 800px;
  background-color: rgba(0, 35, 82, 0.7);
  z-index:999
}




.nav-list{
    height: 80px;
    width: 100%;
    background-color: transparent;
    
}
.nav-list ul {
    float: right;
    margin-right: 30px;

}

.nav-list ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;
}

.nav-list ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 30px;
    padding: 6px 13px;
}

.partone .nav-list ul li a.active,
.partone .nav-list ul li a:hover{
color: rgb(53, 14, 9);
text-transform: 0.5s;
text-decoration-line: underline;
    

}
 input{
    float: left;
    margin-bottom: 20px;
}

.rows input { 
    padding: 20px;
    border-radius: 20px;
    border: none;
    width: 300px;
 }
.subcribe-button {
    padding: 18px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
}


.rows input::placeholder {
    font-size: 20px;

}
.headings{ 
color: rgb(178, 209, 206);
padding: 300px;
text-align: center;
font-size: 30px;
}
.parttwo{ 
    background-color: gray;
    display: flex;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}
.About-me{
    color: rgb(57, 21, 90);
}
.parttwo {
    padding-right: 20px;
    border-radius: 100px 100px 100px 100px;  
} .parttwo img{
    padding-right: 20px;
    border-radius: 100px 100px 100px 100px; 
}
.parttwo .slide{
    color: rgb(7, 41, 54);
    text-align: start;
}
.partthree{
     background-image: url("/Assetes/xps-YNliXm_hMn8-unsplash.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 800px;
    width: 100%;
    background-position: bottom;
    border-radius: 20px 20px 20px 20px;
}
.partthree  img{
    border-radius: 50px 50px 50px ;
}
.partthree, .profile,.home, .text, .image3{
    
    background-color: rgba(0, 35, 82, 0.7);
    z-index: 999


}  
.home{
    display: flex;
    justify-content: space-around;
}
.profile{
    color: lightyellow;
    font-size: 40px;
    
}
.contacts{
    color: lightyellow;
    font-size: 30px;
}
 .partthree .home.image3{
    border-radius: 20px;
}


.partthree .text h1{
    text-align: center;
    text-shadow:  2px 2px 2px  blue;
    font-size: 50px;
    
}
.partthree .image3{
    border-radius: 20px;
    align-items: center;

}
.profile{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.form-group{
display: flex;
flex-direction: column;
margin: 20px 20px 20px 20px;
width: 250px;
margin-left: 500px;
}


/* Beginning of Contact form */
 .container{
     background-image: url("/Assetes/xps-YNliXm_hMn8-unsplash.jpg");
     background-repeat: no-repeat;
     height: 500px;
     background-size: cover;
     background-position: center;
 }
 .container .form-group {
     height: 500px;
     background-color: rgba(0, 35, 82, 0.7);
    z-index:999


 }
 .form-group img{
     border-radius: 100px;
     width: 250px;
 }
 .footer{
     background-color: black;
    
 }